.wrap {
    height: 100vh;
    width: 100%;
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 50;
    overflow: hidden;
    svg {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100vw;
        height: 105vh;
        display: block;
        // fill: #171717;

    }
    svg#svg {
        fill: #161618;
        z-index: 5;
    }
    svg#svgBg {
        fill: #e0e0e0;
        z-index: 4;
        // transform: rotate(180deg);
    }
}

.loading {
    text-align: center;
    max-width: 66.6vw;
    width: 900px;
    font-size: 6.3rem;
    font-weight: 500;
    z-index: 20;
    color: #e0e0e0;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translateX(-50%) translateY(-50%);
    @media (max-width: 1200px) {
        font-size: 5rem;
    }
    @media (max-width: 768px) {
        font-size: 4rem;
    }
    @media (max-width: 630px) {
        font-size: 3.5rem;
    }
    @media (max-width: 530px) {
        font-size: 3rem;
    }
    @media (max-width: 480px) {
        font-size: 2.5rem;
    }
    @media (max-width: 380px) {
        font-size: 2rem;
    }
    @media (max-width: 290px) {
        font-size: 1.7rem;
    }
}