.header {
    padding: 30px 0;
    z-index: 15;
    position: relative;
}



.content {
    display: flex;
    justify-content: center;
}

.logo {
    position: relative;
    height: 30px;
    width: 60px;
    transform-origin: center;
}

.primary {
    height: 30px;
    width: 30px;
    border: 2px solid var(--color-secondary);
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 0;
    // background: var(--color-secondary);
}

.secondary {
    height: 30px;
    width: 30px;
    border: 2px solid var(--color-secondary);
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 0;
    opacity: 0;
    // background: var(--color-secondary);
}


.nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    a {
        display: inline-block;
        font-size: 1.1rem;
        margin-right: 30px;
        color: var(--color-primary);
        text-decoration: none;
        opacity: .7;
        transition: .1s;
        &:hover {
            opacity: 1;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}